/* import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common css */
body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
.common-btn{
    background-color: brown;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
}

/* Header part design */
.navbar-color{
    background-color: #f3cc83e7;
}
.nav-link{
    font-size: 20px;
}
.nav-item a:hover{
    color:olivedrab;
    font-weight: 700;
}

/* main part design */
/* section-1 top banner */
 .top-banner{
    background-image: url(../images/bg/bg-1.jpg);
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    padding: 15rem;
 } 
 .order-btn{
     border: 2px solid orchid;
     background-color: burlywood;
     border-radius: 5px;
     font-weight: 600;
     padding: 5px;
 }
 .order-btn:hover{
    background-color:aqua;
 }
 /* section-2 bg design */
 .bg{
     background-color: brown;
 }
 .text{
     color: white;
 }
 /* section-2 bg design */
 

 /* section-5  middle-banner */
 .middle-banner{
    background-image: url(../images/bg/bg-2.jpg);
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    padding: 12rem;
 } 

 /* footer part  */
 footer{
     background-color: brown;
 }